---
import Layout from "@/layouts/Layout.astro";
import App from "@/components/App.svelte";
---

<Layout title="Un PDF Con mucho que decir, PDF Talkie">
  <main class="z-20 grid place-content-center min-h-screen w-screen">
    <h1 class="text-6xl font-bold text-center pb-10">
      Interroga todo lo que quieras a tu PDF
    </h1>
    <section class="container w-[1000px] mx-auto max-w-xl h-64">
      <App client:idle />
    </section>
  </main>
</Layout>
